<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
  <link rel="stylesheet" type="text/css" href="static/css/about.css">
</head>
<body>
  <div class="container">
    <h1>About Us</h1>
    <div class="column">
      <img src="static/images/photo1.jpg" alt="Photo 1">
      <p>Hi Im shiva, whats up?</p>
    </div>
    <div class="column">
      <img src="static/images/photo2.jpg" alt="Photo 2">
      <p>Hi im Andrew</p>
    </div>
    <div class="column">
      <img src="static/images/photo3.jpg" alt="Photo 3">
      <p>Hi Im Marco</p>
    </div>
  </div>
  <button class="back-button" onclick="goBack()">Back</button>
  <script>
    function goBack() {
      window.location.href = '/';
    }
  </script>
</body>
</html>
