<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
  <link rel="stylesheet" type="text/css" href="static/css/about.css">
</head>
<body>
  <div class="container">
    <h1>About Us</h1>
    <div class="column">
      <img src="static/images/andrew.jpg" alt="Photo 1" id="team-member">
      <p>Hi I'm Andrew! <br> I am in my fourth year of Bachelor of <br>Data science engineering(Honours) degree.
        <br> In my free time I enjoy playing soccer and watching movies</p>
    </div>
    <div class="column">
      <img src="static/images/shiva.jpg" alt="Photo 2" id="team-member">
      <p>Hi im Shiva!<br>I am in my third year of Bachelors of <br>Computer Science(Honours) degree. 
        <br>In my free time I enjoy <br>dancing and going to concerts.</p>
    </div>
    <div class="column">
      <img src="static/images/marco.jpg" alt="Photo 3" id="team-member">
      <p>Hi Im Marco!<br> I'm in my second year of Masters of <br> Data science and Innovation degree.<br>
      In my free time I enjoy going on<br> nice walks with my dog.</p>
    </div>
  </div>
  <button class="back-button" onclick="goBack()">Back</button>
  <script>
    function goBack() {
      window.location.href = '/';
    }
  </script>
</body>
</html>
