<!DOCTYPE html>
<html>
<head>
  <title>Contact Us</title>
  <link rel="stylesheet" type="text/css" href="static/css/contact.css">
</head>
<body>
  <div class="container">
    <h1>Contact Us</h1>
    <div class="column">
      <ul>
        <h2>Shiva Hossaini: </h2>
        <li>Email: Saiedeh.s.hossaini@student.uts.edu.au</li>
        <li>Linkedin: Shiva Hossaini </li>
        <li>PH:</li>
      </ul>
    </div>
    <div class="column">
      <ul>
        <h2>Andrew Kanaan: </h2>
        <li>Email: andrew.kanaan@student.uts.edu.au </li>
        <li>Linkedin:</li>
        <li>PH: </li>
      </ul>
    </div>
    <div class="column">
      <ul>
        <h2>Marco Susler: </h2>
        <li>Email: marco.r.sulser@student.uts.edu.au</li>
        <li>Linkedin: </li>
        <li>PH:</li>
      </ul>
    </div>

  </div>

  <button class="back-button" onclick="goBack()">Back</button>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</body>
</html>
